# This file is used to configure npm settings for the SeeYou UI project.
# auto-install-peers is deprecated in newer npm versions
# auto-install-peers = true
@seeyou-eu:registry=https://npm.pkg.github.com
